attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
cvxopt==1.2.6
cvxpy==1.0.31
cycler==0.10.0
dill==0.3.4
ecos==2.0.7.post1
idna==3.3
ipython-genutils==0.2.0
jsonschema==4.3.0
julia==0.5.6
jupyter-core==4.9.1
kiwisolver==1.3.2
matplotlib==3.4.3
mpire==2.3.0
multiprocess==0.70.12.2
nbformat==5.1.3
numpy==1.21.2
osqp==0.6.2.post0
pandas==1.3.3
Pillow==8.3.2
protobuf==3.18.0
pycddlib==2.1.4
pyparsing==2.4.7
pypoman==0.5.4
pyrsistent==0.18.0
python-dateutil==2.8.2
pytope==0.0.4
pytz==2021.1
qdldl==0.1.5.post0
requests==2.26.0
scipy==1.7.1
scs==2.1.4
seaborn==0.11.2
Shapely==1.7.1
six==1.16.0
tensorboardX==2.4
torch==1.9.0
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
urllib3==1.26.7
